<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5">Lista de alunos</h1>
      <h1 class="text-center mt-5" *ngIf="!alunos">Buscando alunos...</h1>
      <table
        *ngIf="alunos"
        class="table table-hover table-striped table-ligth border mt-5"
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th class="text-right pr-4">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.name }}</td>
            <td>{{ aluno.email }}</td>
            <td class="text-right">
              <fa-icon
                class="text-warning"
                [icon]="faEye"
                (click)="visualizarAluno(aluno)"
              >
              </fa-icon>
              <fa-icon
                class="mx-2 text-primary"
                [icon]="faPen"
                (click)="editarAluno(aluno)"
              ></fa-icon>
              <fa-icon
                class="text-danger"
                [icon]="faTrashAlt"
                (click)="excluirAluno(aluno)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
