<nav class="navbar navbar-expand-lg navbar-primary bg-dark py-4">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/logo-angular.png" width="70" height="70" routerLink="/" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          routerLink="/alunos"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Alunos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/alunos/id">Id Aluno</a>
          <a class="dropdown-item" routerLink="/alunos/id/editar"
            >Editar Aluno</a
          >
          <a class="dropdown-item" routerLink="/alunos/novo">Cadastrar Aluno</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          routerLink="/cursos"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Cursos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['cursos', idCurso]">
            Id Curso
          </a>
        </div>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary">Entrar</button>
      <button type="button" class="btn btn-primary ml-3">Cadastre-se</button>
    </div>
  </div>
</nav>

<div class="m-5">
  <p>Digite o id do curso</p>
  <input #idCurso />
</div>
