<div class="container mt-5 align-items-center">
  <h1 class="text-center mr-5">Editar aluno</h1>
  <div class="form-group row">
    <div class="col-sm-10">
      <input
        class="form-control form-control-sm"
        id="disabledInput"
        type="text"
        placeholder="#"
        disabled
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control form-control-sm"
        id="colFormLabelSm"
        placeholder="Nome"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control form-control-sm"
        id="colFormLabelSm"
        placeholder="E-mail"
      />
    </div>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    style="width: 18rem"
    routerLink="/alunos"
  >
    Salvar alterações
  </button>
</div>
