<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5">Lista de cursos</h1>
      <h1 class="text-center mt-5" *ngIf="!cursos">Buscando cursos...</h1>
      <table
        *ngIf="cursos"
        class="
          table table-hover table-ligth table-striped
          mt-5
          shadow
          p-3
          mb-5
          bg-light
          rounded
        "
      >
        <thead>
          <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th class="text-right pr-4">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursos">
            <td>{{ curso.id }}</td>
            <td>{{ curso.name }}</td>
            <td class="text-right">
              <fa-icon
                class="text-warning"
                [icon]="faEye"
                (click)="visualizarCurso(curso)"
              >
              </fa-icon>
              <fa-icon
                class="mx-2 text-primary"
                [icon]="faPen"
                (click)="editarCurso(curso)"
              ></fa-icon>
              <fa-icon
                class="text-danger"
                [icon]="faTrashAlt"
                (click)="excluirCurso(curso)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
